= render 'layout_components/top_navigation'
= render 'layout_components/header'
= render 'layout_components/portfolio'
= render 'layout_components/portfolio'
= render 'layout_components/about'
= render 'layout_components/contacts'
= render 'layout_components/footer'
= render 'layout_components/scroll_to_top_block'
= render 'layout_components/portfolio_modals'
