= render 'layout_components/top_navigation'
= render 'layout_components/header'
= render 'layout_components/portfolio'
= render 'layout_components/about'
= render 'contacts/form'
= render 'layout_components/footer'
= render 'layout_components/scroll_to_top_block'
= render 'layout_components/portfolio_modals'

= content_for(:javascript_code) do
  | Home.init();
  | ContactMe.init();
